<% if flash[:error] %>
  <% flash[:error].each do |error_msg| %>
    <li><%= error_msg %></li>
  <% end %>
<% end %>


<%# REQUIRES SOMETHING FROM THE DATABASE %>
<%= form_for @rider do |f| %>
  <div>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>
  <div>
  <%= f.collection_check_boxes :rollercoaster_ids, @rollercoasters, :id, :name, :item_wrapper_class => 'checkbox_container' %>
  <%# f.collection_select :method, collection, value shown to the params, value to the user %>
  </div>
  <%= f.submit %>
<% end %>


<%# form_tag("/rollercoasters") do %>
  <%# text_field_tag "name" %>
  <%# text_field_tag "location" %>
  <%# number_field_tag "height" %>
  <%# number_field_tag "length" %>
  <%# submit_tag "Create that new Rollercoaster"%>
<%# end %>